/* Navigation */
@media screen and (max-width: 640px) {
  #main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 70px;
    margin-right: -2rem;
  }

  #main-nav .container {
    display: block;
    align-items: center;
    width: 100%;
  }

  /* here's the navbar link styling */
  #main-nav .nav_links{
    display:block;
    text-align: left;
    float:right;
    margin-left: 30px;
    position: fixed;
    height: 150vh; /* Remove minus to reset normal*/
    width: 80%;
    background: var(--white);
    top: 5%;
    transform: translateY(-100%);
    right: 100%;
    text-align: center;
    color: var(--primary-color-dark);
    transition: all 0.5s ;
  }

  #main-nav .nav_links li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
  }

  #main-nav .nav_links li a{
    font-size: 20px;
    white-space: nowrap;
  }

  #main-nav .launch_business {
    display: none;
    float: left;
    margin-top: 10px;
  }

  #main-nav .nav_logo {
    float: left;
    max-width: 140px;
  }

  #main-nav .container .Menu-bar {
    width: 30px;
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
  }

  #main-nav .container .cancel{
    font-size: 30px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
    display: none;
  }

  #main-nav #check {
    display: none;
    float: right;
    margin-top: 10px;
  }

  #main-nav label {
    display: none;
  }

  #main-nav .container label {
    display: block;
    float: right;
    margin-left: 10px;
  }

  #check:checked ~ .nav_links{
    transform: translateX(100%);
  }

  #check:checked ~ label .Menu-bar{
    display: none;
  }

  #check:checked ~ label .cancel{
    display: block;
  }

  section.container{
    padding: 0.1rem 0;
    text-align: center;
  }

  .content_container h1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 2rem;
    margin-right: -0.4rem;
  }

  .content_container h1 .heading_1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 0px;
  }

  .content_container h3{
    font-size: 14px;
    margin-top: 3px;
    white-space: nowrap;
    margin-right: -0.4rem;
  }

  .content_container .business_community img {
    width: 100%;
    max-width: 170px;
    margin-top: -0.50rem;
    margin-right: -0.2rem;
  }

  .youtube_container{
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
    width: 100%;
    max-width: 300px;
  }

  .business_tools.flex-container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    margin-right: -1.7rem;
  }
  
  .business_puzzle h2 {
    justify-content: center;
    align-self: center;
    font-size: 16px; 
    white-space: nowrap; 
  }
  
  .business_puzzle img {
    width: 100%;
    max-width: 160px; 
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -8.5rem;
  }

  /* Puzzle Helps You */
  .container .launch_grow_manage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;
    margin-right: 1rem;
  }

  .launch_grow_manage h2 {
    padding: 0 5.5rem;
    font-size: px;
    margin: 0;
  }

  .launch_grow_manage .launch,
  .launch_grow_manage .grow,
  .launch_grow_manage .manage {
      background: var(--border-color-light-purple);
      margin: 0.5rem;
      padding: 0 4rem; 
  }
  .launch_grow_manage .grow{
    background: var(--border-color-orange);
  }
  .launch_grow_manage .manage{
    background: var(--border-color-grey);
  }

  .container .section_container h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 29px;
  }

  .container .section_container .business{
    display: block;
    margin-top: 1.5rem;
  }

  .section_container .your_business {
    display: none; 
  }

  .section_container .your_business_mobile {
    position: relative;
    text-align: center;
    margin-right: -0.9rem;
  }

  .section_container .your_business_mobile img {
    display: block;
    position: absolute;
    right: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    margin-top: 13rem;
    border-radius: 10px;
  }

  /* Track sales */
  .track_sales{
    margin-top: 32rem;
    display: block;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    font-size: 22px;
    margin-left: 1rem;
  }

  .track_sales .leftside h1 span{
    font-size: 22px;
  }

  .track_sales .leftside .puzzle_values{
    margin-left: 1rem;
    font-size: 13px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 1rem;
    font-size: 13px;
  }

  .join_now{
    padding-top: 6px;
    font-size: 13px;
  }

  .track_sales .leftside .waitlist .coming_soon{
    padding: 5px;
    padding-top: -5px;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
  }

  .track_sales img{
    width: 100%;
    max-width: 360px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Business Education */
  .Business_Education{
    display: none;
  }

  .Business_Education_mobile{
    display: block;
  }

  .Business_Education_mobile .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 1rem;
  }

  .Business_Education_mobile .leftside h1 span{
    color: var(--primary-color);
    font-size: 22px;
  }

  .Business_Education_mobile .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 1rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside p{
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
    margin-left: 1rem;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside .Start_Learning li a{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 400;
  }

  .Business_Education_mobile img{
    width: 100%;
    max-width: 360px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Register Business Section */
  .Business_Registration{
    display: block;
  }

  .Business_Registration .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 1rem;
  }

  .Business_Registration .leftside .Registrations{
    margin-left: 1rem;
    font-size: 13px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .Business_Registration .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 1rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Registration img{
    width: 100%;
    max-width: 360px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    width: 100%;
    max-width: 360px;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Partners */
  .service_partners{
    margin-top: 1.5rem;
  }

  .service_partners h1{
    text-align: center;
    padding: 10px 3px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -1.8rem;
    margin-left: -2rem;
  }

  .service_partners .companies img{
    margin-top: -0.55rem;
    max-width: 80px;
    object-fit: cover;
    margin-left: -1rem;
  }

  .service_partners .companies{
    gap: 1.5rem;
    align-items: center;
  }

  /* Get Started */
  .Start_Business{
    margin-top: -3rem;
  }

  .Get_Started{
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
  }

  .Get_Started h1{
    color: var(--primary-color);
    margin-top: -60px;
    margin-left: -2.2rem;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: -0.5rem;
  }

  .Get_Started h1 span{
    margin-right: -2.5rem;
  }

  .Get_Started img{
    width: 100%;
    max-width: 150px;
    margin-bottom: -2rem;
  }

  /* Footer */
  #main-footer {
    padding: 2rem; 
    margin-right: -1.83rem;
  }

  #main-footer .grid_container {
    display: block;
    text-align: center;
  }

  #main-footer .grid_container li {
    margin-top: 2rem; 
    align-items: center;
    margin-left: -1.6rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-top: 2.5rem;
    width: 150px;
  }

  #main-footer .grid_container li{
    padding-bottom: 0.5rem;
    font-size: 13px;
  }

  .moblie_flex_container{
    grid-gap: 2rem;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: 0rem;
  }

  #main-footer .grid_container .list_header{
    font-size: 15px;
  }

  #main-footer .grid_container .quick_link_header{
    margin-left: -15px;
  }
  #main-footer .grid_container .quick_link{
    margin-top: -1.7rem;
    margin-left: -1rem;
  }

  #main-footer .grid_container .Sub{
    margin-left: -5rem;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: -8.7rem;
    margin-left: -17px;
  }

  .subscribe-input input {
    border: 1px solid #FFD400;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    margin-right: 8px;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 14rem;
    width: 105;
    margin-left: -1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements {
    flex-direction: column; 
    gap: 1rem; 
    padding-top: 1rem;
    margin-bottom: 0; 
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: 5rem;
    font-size: 13px;
  }

  .bottom-footer-elements .social-media {
    justify-content: center; /* Center social media icons */
    gap: 1rem; /* Add gap between icons */
    margin-right: 1rem;
    margin-left: -1.6rem;
  }
}

/* Samsung Galaxy S8+ */
@media screen and (min-width: 360px) and (max-width: 360px) {
  #main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 70px;
    margin-right: -2rem;
  }

  #main-nav .container {
    display: block;
    align-items: center;
    width: 100%;
  }

  #main-nav .nav_links{
    display: block;
    float: right;
    margin-left: 30px;
    position: fixed;
    height: 150vh;
    width: 80%;
    background: #fff;
    top: 8%;
    transform: translateY(-100%);
    right: 100%;
    text-align: center;
    color: var(--primary-color-dark);
    transition: all 0.5s ;
  }

  #main-nav .nav_links li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
  }

  #main-nav .nav_links li a{
    font-size: 20px;
    white-space: nowrap;
  }

  #main-nav .launch_business {
    display: none;
    float: left;
    margin-top: 10px;
  }

  #main-nav .nav_logo {
    float: left;
    max-width: 140px;
  }

  #main-nav .container .Menu-bar {
    width: 30px;
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
  }

  #main-nav .container .cancel{
    font-size: 30px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
    display: none;
  }

  #main-nav #check {
    display: none;
    float: right;
    margin-top: 10px;
  }

  #main-nav label {
    display: none;
  }

  #main-nav .container label {
    display: block;
    float: right;
    margin-left: 10px;
  }

  #check:checked ~ .nav_links{
    transform: translateX(100%);
  }

  #check:checked ~ label .Menu-bar{
    display: none;
  }

  #check:checked ~ label .cancel{
    display: block;
  }

  section.container{
    padding: 0.1rem 0;
    text-align: center;
  }

  .content_container h1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 2rem;
    margin-right: -0.6rem;
  }

  .content_container h1 .heading_1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 0px;
  }

  .content_container h3{
    margin-right: -0.4rem;
    font-size: 14px;
    margin-top: 3px;
    white-space: nowrap;
  }

  .content_container .business_community img {
    width: 100%;
    max-width: 170px;
    margin-top: -0.50rem;
    margin-right: -0.6rem;
  }

  .youtube_container{
    margin-bottom: 1.5rem;
    margin-left: 2.1rem;
    width: 100%;
    max-width: 300px;
  }

  .business_tools.flex-container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    margin-right: -1.7rem;
  }
  
  .business_puzzle h2 {
    justify-content: center;
    align-self: center;
    font-size: 16px; 
    margin-left: -1rem;
    white-space: nowrap; 
  }
  
  .business_puzzle img {
    width: 100%;
    max-width: 160px; /* Adjust the max-width as needed */
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -8.5rem;
  }

  /* Puzzle Helps You */
  .container .launch_grow_manage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;
    margin-right: 1rem;
  }

  .launch_grow_manage h2 {
    padding: 0 5.5rem;
    font-size: px;
    margin: 0;
  }

  .launch_grow_manage .launch,
  .launch_grow_manage .grow,
  .launch_grow_manage .manage {
      background: var(--border-color-light-purple);
      margin: 0.5rem;
      padding: 0 4rem; 
  }
  .launch_grow_manage .grow{
    background: var(--border-color-orange);
  }
  .launch_grow_manage .manage{
    background: var(--border-color-grey);
  }

  .container .section_container h1{
    margin-top: 2.0rem;
    margin-bottom: 1rem;
    font-size: 29px;
  }

  .container .section_container .business{
    display: block;
    margin-top: 1.5rem;
  }

  .section_container .your_business {
    display: none; 
  }

  .section_container .your_business_mobile {
    position: relative;
    text-align: center;
    margin-right: -0.9rem;
  }

  .section_container .your_business_mobile img {
    display: block;
    position: absolute;
    right: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    margin-top: 13rem;
    margin-left: -0.2rem;
    border-radius: 10px;
  }

  /* Track sales */
  .track_sales{
    margin-top: 32rem;
    display: block;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    font-size: 22px;
    margin-left: 1rem;
  }

  .track_sales .leftside h1 span{
    font-size: 22px;
  }

  .track_sales .leftside .puzzle_values{
    margin-left: 1rem;
    font-size: 13px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 1rem;
    font-size: 13px;
  }

  .join_now{
    padding-top: 6px;
    font-size: 13px;
  }

  .track_sales .leftside .waitlist .coming_soon{
    padding: 5px;
    padding-top: -5px;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
  }

  .track_sales img{
    width: 100%;
    max-width: 350px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 8px;
    object-fit: cover;
  }

  /* Business Education */
  .Business_Education{
    display: none;
  }

  .Business_Education_mobile{
    display: block;
  }

  .Business_Education_mobile .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 1rem;
  }

  .Business_Education_mobile .leftside h1 span{
    color: var(--primary-color);
    font-size: 22px;
  }

  .Business_Education_mobile .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 1rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside p{
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
    margin-left: 1rem;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside .Start_Learning li a{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 400;
  }

  .Business_Education_mobile img{
    width: 100%;
    max-width: 360px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Register Business Section */
  .Business_Registration{
    display: block;
  }

  .Business_Registration .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 1rem;
  }

  .Business_Registration .leftside .Registrations{
    margin-left: 1rem;
    font-size: 13px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .Business_Registration .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 1rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Registration img{
    width: 100%;
    max-width: 360px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    width: 100%;
    max-width: 350px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 8px;
    object-fit: cover;
  }

  /* Partners */
  .service_partners{
    margin-top: 1.5rem;
  }

  .service_partners h1{
    text-align: center;
    padding: 10px 3px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -2rem;
  }

  .service_partners .companies img{
    margin-top: -0.55rem;
    max-width: 80px;
    object-fit: cover;
    margin-left: -0.5rem;
  }

  .service_partners .companies{
    gap: 2rem;
    align-items: center;
  }

  /* Get Started */
  .Start_Business{
    margin-top: -3rem;
    
  }

  .Get_Started{
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
  }

  .Get_Started h1{
    color: var(--primary-color);
    margin-top: -60px;
    margin-left: -2.78rem;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: -0.5rem;
  }

  .Get_Started h1 span{
    margin-right: -2.5rem;
  }

  .Get_Started img{
    width: 100%;
    max-width: 150px;
    margin-bottom: -2rem;
  }

  /* Footer */
  #main-footer {
    padding: 2rem; /* Adjust the padding as needed */
    margin-right: -1.9rem;
  }

  #main-footer .grid_container {
    /* grid-template-columns: 1fr;
    gap: 2rem; */
    display: block;
    text-align: center;
  }

  #main-footer .grid_container li {
    margin-top: 2rem; /* Adjust the margin as needed */
    align-items: center;
    margin-left: -1.6rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-top: 2.5rem;
    width: 150px;
  }

  #main-footer .grid_container li{
    padding-bottom: 0.5rem;
    font-size: 13px;
  }

  .moblie_flex_container{
    grid-gap: 2rem;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: 0rem;
  }

  #main-footer .grid_container .list_header{
    font-size: 15px;
  }

  #main-footer .grid_container .quick_link_header{
    margin-left: -15px;
  }
  #main-footer .grid_container .quick_link{
    margin-top: -1.7rem;
    margin-left: -1rem;
  }

  #main-footer .grid_container .Sub{
    margin-left: -5rem;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: -8.7rem;
    margin-left: -17px;
  }

  .subscribe-input input {
    border: 1px solid #FFD400;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    margin-right: 8px;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 14rem; /* Adjust the margin as needed */
    width: 105;
    margin-left: -1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements {
    flex-direction: column; /* Stack elements in mobile view */
    gap: 1rem; /* Add gap between elements */
    padding-top: 1rem; /* Adjust the padding as needed */
    margin-bottom: 0; /* Remove negative margin */
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: 4.5rem;
    font-size: 13px;
  }

  .bottom-footer-elements .social-media {
    justify-content: center; /* Center social media icons */
    gap: 1rem; /* Add gap between icons */
    margin-right: 1rem;
    margin-left: -1.6rem;
  }
}

/* Surface Duo */
@media screen and (min-width: 540px) and (max-width: 540px){
  #main-nav{
    margin-right: -2rem;
  }

  #main-nav .nav_links{
    display: block;
    text-align: left;
    float: right;
    margin-left: 25px;
    position: fixed;
    height: 150vh;
    width: 80%;
    background: var(--white);
    top: 8%;
    transform: translateY(-100%);
    right: 100%;
    text-align: center;
    color: var(--primary-color-dark);
    transition: all 0.5s ;
  }

  #main-nav .nav_links li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
  }

  #main-nav .nav_links li a{
    font-size: 20px;
    white-space: nowrap;
  }
  
  #main-nav .container .Menu-bar {
    width: 30px;
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
  }

  #main-nav .container .cancel{
    font-size: 30px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
    display: none;
  }

  .content_container h1{
    margin-left: 1rem;
    
  }

  .youtube_container{
    margin-bottom: 1.5rem;
    margin-left: 5.3rem;
    width: 100%;
    max-width: 380px;
  }

  .business_tools.flex-container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    margin-right: -2rem;
  }

  .business_puzzle h2 {
    justify-content: center;
    align-self: center;
    font-size: 16px; 
    margin-left: -3rem;
    white-space: nowrap; 
  }

  .business_puzzle img {
    width: 100%;
    max-width: 200px; /* Adjust the max-width as needed */
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -5.5rem;
  }

   /* Puzzle Helps You */
   .container .launch_grow_manage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;
    margin-right: 1rem;
  }

  .launch_grow_manage h2 {
    padding: 0 5.5rem;
    font-size: px;
    margin: 0;
  }

  .launch_grow_manage .launch,
  .launch_grow_manage .grow,
  .launch_grow_manage .manage {
      background: var(--border-color-light-purple);
      margin: 0.5rem;
      padding: 0 4rem; 
  }

  .launch_grow_manage .grow{
    background: var(--border-color-orange);
  }
  .launch_grow_manage .manage{
    background: var(--border-color-grey);
  }

  .container .section_container h1{
    margin-top: 2.0rem;
    margin-bottom: 1rem;
    font-size: 29px;
  }

  .container .section_container .business{
    display: block;
    margin-top: 1.5rem;
  }

  .section_container .your_business {
    display: none; 
  }

  .section_container .your_business_mobile {
    position: relative;
    text-align: center;
    margin-right: -0.9rem;
  }

  .section_container .your_business_mobile img {
    display: block;
    position: absolute;
    right: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    margin-top: 12rem;
    margin-left: -0.2rem;
    border-radius: 10px;
  }

  /* Track sales */
  .track_sales{
    margin-top: 32rem;
    display: block;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    font-size: 22px;
    margin-left: 2.5rem;
  }

  .track_sales .leftside h1 span{
    font-size: 22px;
  }

  .track_sales .leftside .puzzle_values{
    margin-left: 2.5rem;
    font-size: 13px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 2.5rem;
    font-size: 13px;
  }

  .join_now{
    padding-top: 6px;
    font-size: 13px;
  }

  .track_sales .leftside .waitlist .coming_soon{
    padding: 5px;
    padding-top: -5px;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
  }

  .track_sales img{
    width: 100%;
    max-width: 380px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 8px;
    object-fit: cover;
  }

  /* Business Education */
  .Business_Education{
    display: none;
  }

  .Business_Education_mobile{
    display: block;
  }

  .Business_Education_mobile .leftside h1{
    text-align: left;
    margin-top: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 2.5rem;
  }

  .Business_Education_mobile .leftside h1 span{
    color: var(--primary-color);
    font-size: 22px;
  }

  .Business_Education_mobile .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 2.5rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside p{
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
    margin-left: 2.5rem;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside .Start_Learning li a{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 400;
  }

  .Business_Education_mobile img{
    width: 100%;
    max-width: 380px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 8px;
    object-fit: cover;
  }

  /* Register Business Section */
  .Business_Registration{
    display: block;
  }

  .Business_Registration .leftside h1{
    text-align: left;
    margin-top: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 2.5rem;
  }

  .Business_Registration .leftside .Registrations{
    margin-left: 2.5rem;
    font-size: 13px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .Business_Registration .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 2.5rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Registration img{
    width: 100%;
    max-width: 380px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 8px;
    object-fit: cover;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    width: 100%;
    max-width: 380px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 2.5rem;
    object-fit: cover;
  }

  /* Partners */
  .service_partners{
    margin-top: 1.5rem;
  }

  .service_partners h1{
    text-align: center;
    padding: 10px 3px;
    padding-left: 1.5rem;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -2rem;
  }

  .service_partners .companies img{
    margin-top: -0.55rem;
    max-width: 90px;
    object-fit: cover;
    margin-left: -0.5rem;
  }

  .service_partners .companies{
    gap: 3rem;
    align-items: center;
    margin-right: -2rem;
  }

  /* Get Started */
  .Start_Business{
    margin-top: -3rem;
    margin-left: 6rem;
  }

  .Get_Started{
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
  }

  .Get_Started h1{
    color: var(--primary-color);
    margin-top: -60px;
    margin-right: -2.5rem;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: -0.5rem;
  }

  .Get_Started h1 span{
    margin-left: -2.5rem;
  }

  .Get_Started img{
    width: 100%;
    max-width: 150px;
    margin-bottom: -2rem;
    margin-left: -0.5rem;
  }

  /* Footer */
  #main-footer {
    padding: 2rem; /* Adjust the padding as needed */
    margin-right: -2rem;
  }

  #main-footer .grid_container {
    /* grid-template-columns: 1fr;
    gap: 2rem; */
    display: block;
    text-align: center;
  }

  #main-footer .grid_container li {
    margin-top: 2rem; /* Adjust the margin as needed */
    align-items: center;
    margin-left: -1.6rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-top: 2.5rem;
    width: 150px;
  }

  #main-footer .grid_container li{
    padding-bottom: 0.5rem;
    font-size: 13px;
    margin-left: -4rem;
    margin-right: 0;
  }

  .moblie_flex_container{
    align-items: center;
    grid-area: -18rem;
  }

  #main-footer .grid_container .list_header{
    font-size: 15px;
  }

  #main-footer .grid_container .quick_link_header{
    margin-left: -3rem;
  }
  #main-footer .grid_container .quick_link{
    margin-top: -1.7rem;
    margin-left: -3rem;
  }

  #main-footer .grid_container .Sub{
    margin-left: -8rem;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: -8.7rem;
    margin-left: -17px;
  }

  .subscribe-input input {
    border: 1px solid #FFD400;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    margin-right: 8px;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 14rem; /* Adjust the margin as needed */
    width: 105;
    margin-left: -1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements {
    flex-direction: column; /* Stack elements in mobile view */
    gap: 1rem; /* Add gap between elements */
    padding-top: 1rem; /* Adjust the padding as needed */
    margin-bottom: 0; /* Remove negative margin */
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: 10rem;
    font-size: 13px;
  }

  .bottom-footer-elements .social-media {
    justify-content: center; /* Center social media icons */
    gap: 1rem; /* Add gap between icons */
    margin-right: 1rem;
    margin-left: -1.6rem;
  }
}

/* Samsung Galaxy S20 */
@media screen and (min-width: 412px) and (max-width: 412px) {
  #main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 70px;
    margin-right: -2rem;
  }

  #main-nav .container {
    display: block;
    align-items: center;
    width: 100%;
  }

  #main-nav .nav_links{
    display: block;
    text-align: left;
    float: right;
    margin-left: 25px;
    position: fixed;
    height: 150vh;
    width: 80%;
    background: var(--white);
    top: 5%;
    transform: translateY(-100%);
    right: 100%;
    text-align: center;
    color: var(--primary-color-dark);
    transition: all 0.5s ;
  }

  #main-nav .nav_links li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
  }

  #main-nav .nav_links li a{
    font-size: 20px;
    white-space: nowrap;
    
  }

  #main-nav .launch_business {
    display: none;
    float: left;
    margin-top: 10px;
  }

  #main-nav .nav_logo {
    float: left;
    max-width: 140px;
  }

  #main-nav .container .Menu-bar {
    width: 30px;
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
  }

  #main-nav .container .cancel{
    font-size: 30px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    margin-right: 3rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
    display: none;
  }

  #main-nav #check {
    display: none;
    float: right;
    margin-top: 10px;
  }

  #main-nav label {
    display: none;
  }

  #main-nav .container label {
    display: block;
    float: right;
    margin-left: 10px;
  }

  #check:checked ~ .nav_links{
    transform: translateX(100%);
  }

  #check:checked ~ label .Menu-bar{
    display: none;
  }

  #check:checked ~ label .cancel{
    display: block;
  }

  section.container{
    padding: 0.1rem 0;
    text-align: center;
    margin-left: -1rem;
  }

  .content_container h1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 2rem;
    margin-right: -0.5rem;
  }

  .content_container h1 .heading_1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 0px;
    margin-left: -0.4rem;
  }

  .content_container h3{
    font-size: 14px;
    margin-top: 3px;
    white-space: nowrap;
    margin-right: -0.3rem;
  }

  .content_container .business_community img {
    width: 100%;
    max-width: 170px;
    margin-top: -0.50rem;
    margin-right: -0.2rem;
  }

  .youtube_container{
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    width: 100%;
    max-width: 300px;
  }

  .business_tools.flex-container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    margin-right: -1.7rem;
  }
  
  .business_puzzle h2 {
    justify-content: center;
    align-self: center;
    font-size: 16px; 
    white-space: nowrap; 
    margin-left: -2rem;
    margin-right: 0.5rem;
  }
  
  .business_puzzle img {
    width: 100%;
    max-width: 160px; 
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -8.5rem;
  }

  /* Puzzle Helps You */
  .container .launch_grow_manage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;
    margin-right: 1rem;
  }

  .launch_grow_manage h2 {
    padding: 0 5.5rem;
    font-size: px;
    margin: 0;
  }

  .launch_grow_manage .launch,
  .launch_grow_manage .grow,
  .launch_grow_manage .manage {
      background: var(--border-color-light-purple);
      margin: 0.5rem;
      padding: 0 4rem; 
  }
  .launch_grow_manage .grow{
    background: var(--border-color-orange);
  }
  .launch_grow_manage .manage{
    background: var(--border-color-grey);
  }

  .container .section_container h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 29px;
  }

  .container .section_container .business{
    display: block;
    margin-top: 1.5rem;
    margin-left: -0.5rem;
  }

  .section_container .your_business {
    display: none; 
  }

  .section_container .your_business_mobile {
    position: relative;
    text-align: center;
    margin-right: -0.9rem;
  }

  .section_container .your_business_mobile img {
    display: block;
    position: absolute;
    right: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    margin-top: 13rem;
    border-radius: 10px;
  }

  /* Track sales */
  .track_sales{
    margin-top: 32rem;
    display: block;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    font-size: 22px;
    margin-left: 2rem;
  }

  .track_sales .leftside h1 span{
    font-size: 22px;
  }

  .track_sales .leftside .puzzle_values{
    margin-left: 2rem;
    font-size: 13px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 2rem;
    font-size: 13px;
  }

  .join_now{
    padding-top: 6px;
    font-size: 13px;
  }

  .track_sales .leftside .waitlist .coming_soon{
    padding: 5px;
    padding-top: -5px;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
  }

  .track_sales img{
    width: 100%;
    max-width: 360px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Business Education */
  .Business_Education{
    display: none;
  }

  .Business_Education_mobile{
    display: block;
  }

  .Business_Education_mobile .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 2rem;
  }

  .Business_Education_mobile .leftside h1 span{
    color: var(--primary-color);
    font-size: 22px;
  }

  .Business_Education_mobile .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 2rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside p{
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
    margin-left: 2rem;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside .Start_Learning li a{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 400;
  }

  .Business_Education_mobile img{
    width: 100%;
    max-width: 360px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Register Business Section */
  .Business_Registration{
    display: block;
  }

  .Business_Registration .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: 2rem;
  }

  .Business_Registration .leftside .Registrations{
    margin-left: 2rem;
    font-size: 13px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .Business_Registration .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: 2rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Registration img{
    width: 100%;
    max-width: 360px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    width: 100%;
    max-width: 360px;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 14px;
    object-fit: cover;
  }

  /* Partners */
  .service_partners{
    margin-top: 1.5rem;
  }

  .service_partners h1{
    text-align: center;
    padding: 10px 3px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -1.8rem;
    margin-left: -2rem;
  }

  .service_partners .companies img{
    margin-top: -0.55rem;
    max-width: 80px;
    object-fit: cover;
    margin-left: -1rem;
  }

  .service_partners .companies{
    gap: 3rem;
    align-items: center;
  }

  /* Get Started */
  .Start_Business{
    margin-top: -3rem;
  }

  .Get_Started{
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
  }

  .Get_Started h1{
    color: var(--primary-color);
    margin-top: -60px;
    margin-left: -1.7rem;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: -0.5rem;
  }

  .Get_Started h1 span{
    margin-right: -1rem;
  }

  .Get_Started img{
    width: 100%;
    max-width: 150px;
    margin-bottom: -2rem;
    margin-left: -1.7rem;
  }

  /* Footer */
  #main-footer {
    padding: 2rem; 
    margin-right: -1.83rem;
  }

  #main-footer .grid_container {
    display: block;
    text-align: center;
  }

  #main-footer .grid_container li {
    margin-top: 2rem; /* Adjust the margin as needed */
    align-items: center;
    margin-left: -1.6rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-top: 2.5rem;
    width: 150px;
  }

  #main-footer .grid_container li{
    padding-bottom: 0.5rem;
    font-size: 13px;
  }

  .moblie_flex_container{
    grid-gap: 2rem;
    align-items: center;
    margin-right: 1rem;
    margin-right: 0;
  }

  #main-footer .grid_container .list_header{
    font-size: 15px;
  }

  #main-footer .grid_container .quick_link_header{
    margin-left: -15px;
  }
  #main-footer .grid_container .quick_link{
    margin-top: -1.7rem;
    margin-left: -1rem;
  }

  #main-footer .grid_container .Sub{
    margin-left: -5rem;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: -8.7rem;
    margin-left: -17px;
  }

  .subscribe-input input {
    border: 1px solid #FFD400;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    margin-right: 8px;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 14rem;
    width: 105;
    margin-left: -1.5rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements {
    flex-direction: column; 
    gap: 1rem; 
    padding-top: 1rem;
    margin-bottom: 0; 
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: 6rem;
    font-size: 13px;
  }

  .bottom-footer-elements .social-media {
    justify-content: center; /* Center social media icons */
    gap: 1rem; /* Add gap between icons */
    margin-right: 1rem;
    margin-left: -1.6rem;
  }
}

/* Galaxy Fold */
@media screen and (min-width: 280px) and (max-width: 280px){
  #main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 70px;
    margin-right: -9rem;
  }

  #main-nav .container {
    display: block;
    align-items: center;
    width: 100%;
  }

  #main-nav .launch_business{
    display: none;
  }

  #main-nav .nav_links{
    float: right;
    margin-left: 30px;
    position: fixed;
    height: 150vh;
    width: 80%;
    background: #fff;
    top: 5%;
    transform: translateY(-100%);
    right: 100%;
    text-align: center;
    color: var(--primary-color-dark);
    transition: all 0.5s ;
  }

  #main-nav .nav_links li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    white-space: nowrap;
  }

  #main-nav .nav_links li a{
    font-size: 20px;
    white-space: nowrap;
  }

  #main-nav .launch_business {
    display: none;
    float: left;
    margin-top: 10px;
  }

  #main-nav .nav_logo {
    float: left;
    max-width: 140px;
  }

  #main-nav .container .Menu-bar {
    width: 30px;
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 3.5rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
  }

  #main-nav .container .cancel{
    font-size: 30px;
    float: right;
    margin-top: 3px;
    cursor: pointer;
    margin-right: 3.5rem;
    right: 0%;
    position: absolute;
    overflow: hidden;
    display: none;
  }

  #main-nav #check {
    display: none;
    float: right;
    margin-top: 10px;
  }

  #main-nav label {
    display: none;
  }

  #main-nav .container label {
    display: block;
    float: right;
    margin-left: 10px;
  }

  #check:checked ~ .nav_links{
    transform: translateX(100%);
  }

  #check:checked ~ label .Menu-bar{
    display: none;
  }

  #check:checked ~ label .cancel{
    display: block;
  }

  section.container{
    padding: 0.1rem 0;
    text-align: center;
    margin-left: 6rem;
  }

  .content_container h1{
    font-size: 29px;
    white-space: nowrap;
    margin-top: 2rem;
    margin-right: -0.6rem;
  }

  .content_container h1 .heading_1{
    font-size: 29px;
    white-space: nowrap;
    margin-right: 0.3rem;
  }

  .content_container h3{
    margin-right: -0.4rem;
    font-size: 14px;
    margin-top: 3px;
    white-space: nowrap;
  }

  .content_container .business_community{
    width: 100%;
    max-width: 1700px;
    margin-top: 1rem;
    margin-right: -0.4rem;
  }

  .youtube_container {
    max-width: 250px;
    margin-left: 4.5rem;
    margin-top: -1rem; /* Adjust as needed */
  }

  .business_tools.flex-container {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    margin-right: -9rem;
  }

  .business_puzzle h2 {
    justify-content: center;
    align-self: center;
    font-size: 16px; 
    margin-left: -0.8rem;
    white-space: nowrap; 
  }
  
  .business_puzzle img {
    width: 100%;
    max-width: 160px; /* Adjust the max-width as needed */
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -8.5rem;
  }

  /* Puzzle Helps You */
  .puzzle-tools{
    white-space: nowrap;
    margin-left: -1rem;
  }

  .container .launch_grow_manage{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;
    margin-right: 1rem;
  }

  .launch_grow_manage h2 {
    padding: 0 5.5rem;
    font-size: px;
    margin: 0;
  }

  .launch_grow_manage .launch,
  .launch_grow_manage .grow,
  .launch_grow_manage .manage {
      background: var(--border-color-light-purple);
      margin: 0.5rem;
      padding: 0 4rem; 
  }
  .launch_grow_manage .grow{
    background: var(--border-color-orange);
  }
  .launch_grow_manage .manage{
    background: var(--border-color-grey);
  }

  .container .section_container h1{
    margin-top: 2.0rem;
    margin-bottom: 1rem;
    font-size: 29px;
  }

  .container .section_container .business{
    display: block;
    margin-top: 1.5rem;
    white-space: nowrap;
  }

  .section_container .your_business_mobile {
    position: relative;
    text-align: center;
    margin-right: -0.9rem;
  }

  .section_container .your_business_mobile img {
    display: block;
    position: absolute;
    right: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 350px;
    margin-top: 7rem;
    margin-left: -0.2rem;
    border-radius: 10px;
  }

  /* Track sales */
  .track_sales{
    margin-top: 22rem;
    display: block;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    font-size: 22px;
    margin-left: -4.5rem;
  }

  .track_sales .leftside h1 span{
    font-size: 22px;
  }

  .track_sales .leftside .puzzle_values{
    font-size: 13px;
    white-space: nowrap;
    margin-left: -4.5rem;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 1rem;
    font-size: 13px;
    margin-left: -4.5rem;
  }

  .join_now{
    padding-top: 6px;
    font-size: 13px;
    white-space: nowrap;
  }

  .track_sales .leftside .waitlist .coming_soon{
    padding: 5px;
    padding-top: -5px;
    text-align: center;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;
  }

  .track_sales img{
    width: 100%;
    max-width: 450px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 8px;
  }

  /* Business Education */
  .Business_Education_mobile{
    display: block;
  }

  .Business_Education_mobile .leftside h1{
    text-align: left;
    margin-top: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: -4.5rem;
  }

  .Business_Education_mobile .leftside h1 span{
    color: var(--primary-color);
    font-size: 22px;
  }

  .Business_Education_mobile .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: -4.5rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside p{
    text-align: left;
    white-space: nowrap;
    font-size: 13px;
    margin-left: -4.5rem;
    white-space: nowrap;
  }

  .Business_Education_mobile .leftside .Start_Learning li a{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 400;
  }

  .Business_Education_mobile img{
    width: 100%;
    max-width: 450px;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Register Business Section */
  .Business_Registration .leftside h1{
    text-align: left;
    margin-top: 3rem;
    font-weight: bold;
    white-space: nowrap;
    font-size: 22px;
    margin-left: -4.5rem;
  }

  .Business_Registration .leftside .Registrations{
    margin-left: -4.5rem;
    font-size: 13px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
    padding-right: 0.5rem;
  }

  .Business_Registration .leftside .Start_Learning{
    list-style: none;
    padding-top: 0.5rem;
    text-align: left;
    margin-left: -4.5rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .Business_Registration img{
    width: 100%;
    max-width: 450px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 13px;
    object-fit: cover;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    width: 100%;
    max-width: 3500px;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    margin-left: 12px;
    object-fit: cover;
  }

  /* Partners */
  .service_partners{
    margin-top: 1.5rem;
  }

  .service_partners h1{
    text-align: center;
    padding: 10px 6px;
    padding-left: 3rem;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -9rem;
  }

  .service_partners .companies img{
    margin-top: -0.55rem;
    max-width: 80px;
    object-fit: cover;
    margin-left: -0.5rem;
  }

  .service_partners .companies{
    gap: 3rem;
    align-items: center;
    margin-right: -9rem;
  }

  /* Get Started */
  .Start_Business{
    margin-top: -3rem;
    margin-right: -1.5rem;
  }

  .Get_Started{
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
  }

  .Get_Started h1{
    color: var(--primary-color);
    margin-top: -60px;
    margin-right: 2.5rem;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: -1rem;
  }

  .Get_Started h1 span{
    margin-right: -5rem;
  }

  .Get_Started img{
    width: 100%;
    max-width: 150px;
    margin-bottom: -2rem;
  }

  /* Footer */
  #main-footer {
    padding: 2rem; /* Adjust the padding as needed */
    margin-right: -9rem;
  }

  #main-footer .grid_container {
    /* grid-template-columns: 1fr;
    gap: 2rem; */
    display: block;
    text-align: center;
  }

  #main-footer .grid_container li {
    margin-top: 2rem; /* Adjust the margin as needed */
    align-items: center;
    margin-left: -1.6rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-top: 2.5rem;
    width: 150px;
  }

  #main-footer .grid_container li{
    padding-bottom: 0.5rem;
    font-size: 13px;
  }

  .moblie_flex_container{
    grid-gap: 2rem;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: 0;
  }

  #main-footer .grid_container .list_header{
    font-size: 15px;
  }

  #main-footer .grid_container .quick_link_header{
    margin-left: -15px;
  }
  #main-footer .grid_container .quick_link{
    margin-top: -1.7rem;
    margin-left: -1rem;
  }

  #main-footer .grid_container .Sub{
    margin-left: -5rem;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: -8.7rem;
    margin-left: -17px;
  }

  .subscribe-input input {
    border: 1px solid #FFD400;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    margin-right: 8px;
  }

  /* .subscribe-input input,
  .subscribe-input button{
    margin-bottom: -50rem;
  } */

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 14rem; /* Adjust the margin as needed */
    width: 105;
    margin-left: -1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements {
    flex-direction: column; /* Stack elements in mobile view */
    gap: 1rem; /* Add gap between elements */
    padding-top: 1rem; /* Adjust the padding as needed */
    margin-bottom: 0; /* Remove negative margin */
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: 6rem;
    font-size: 13px;
  }

  .bottom-footer-elements .social-media {
    justify-content: center; /* Center social media icons */
    gap: 1rem; /* Add gap between icons */
    margin-right: 1rem;
    margin-left: -0.3rem;
  }
}