/* iPad Air */
@media screen and (min-width: 820px) and (max-width: 820px){
  #main-nav .container .Menu-bar{
    width: 100%;
    max-width: 50px;
    display: none;
  }
  
  #main-nav .container label, #check{
    display: none;
  }

  #main-nav{
    margin-right: -30rem;
  }

  #main-nav .nav_logo{
    width: 120px;
  }

  #main-nav .nav_links {
    white-space: nowrap;
    font-size: 10px;
    gap: 5px;
    margin-left: -7rem;
  }

  #main-nav .nav_links li span{
    font-size: 10.5px;
  }

  #main-nav .launch_business{
    width: 120px;
    margin-left: -22rem;
  }

  .content_container{
    margin-left: 3rem;
    white-space: nowrap;
  }

  .content_container h1{
    font-size: 40px;
  }

  .content_container h1 .heading_1{
    font-size: 40px;
  }

  .content_container h3{
    font-size: 16px;
  }

  .content_container .business_community{
    max-width: 200px;
    margin-left: -0.7rem;
  }

  .youtube_container{
    margin-left: 10.5rem;
    max-width: 500px;
  }

  .youtube_container .youtube{
    margin-left: -5.5rem;
    margin-top: -2rem;
  }

  .business_tools.flex-container{
    margin-right: -3rem;
  }

  .business_tools.flex-container .business_puzzle{
    gap: 5rem;
    margin-left: -10rem;
  }

  .business_tools.flex-container .business_puzzle h2{
    font-size: 1.5rem;
    margin-left: 8rem;
  }

  .business_tools.flex-container .business_puzzle img{
    max-width: 300px;
  }

  .section_container h1{
    margin-left: 3rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .container .section_container .launch_grow_manage{
    margin-left: -0.5rem;
    gap: 2rem;
  }

  .container .section_container .your_business{
    margin-left: -0.5rem;
    margin-top: -1rem;
    max-width: 700px;
    border-radius: 10px;
  }

  /* Track Sales */
  .track_sales{
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  .leftside{
    margin-left: -14rem;
    margin-top: 4rem;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .track_sales .leftside .puzzle_values{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 12rem;
    font-size: 16px;
  }

  .track_sales img{
    max-width: 300px;
    margin-top: 4rem;
    margin-right: -3rem;
  }

  /* Business Education */
  .Business_Education{
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  .Business_Education img{
    max-width: 300px;
    margin-top: 4rem;
    margin-left: -16rem;
  }

  .Business_Education .leftside{
    margin-right: -16rem;
    margin-top: 3rem;
  }

  .Business_Education .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .Business_Education .leftside p{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Education .leftside .Start_Learning{
    margin-left: 12rem;
    font-size: 16px;
  }

  /* Register Business Section */
  .Business_Registration{
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  .Business_Registration .leftside{
    margin-left: -22rem;
    margin-top: 4rem;
  }

  .Business_Registration .leftside .Registrations{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
  }

  .Business_Registration .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .Business_Registration .leftside .Start_Learning{
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Registration img{
    max-width: 400px;
    margin-top: 4rem;
    margin-right: -13rem;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    margin-top: 80px;
    max-width: 600px;
    margin-left: 2rem;
  }

  .service_partners{
    margin-top: 133rem;
  }

  .service_partners h1{
    margin-right: -2rem;
    font-size: 20px;
  }

  .service_partners .companies{
    gap: 5rem;
    max-width: 110px;
    margin-left: 23rem;
  }

  /* Get Started */
  .Start_Business{
    margin-left: 8rem;
  }

  .Get_Started{
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
  }

  .Get_Started h1{
    font-size: 20px;
  }

  .Get_Started img{
    max-width: 200px;
  }

  /* Footer */
  #main-footer{
    margin-right: -0.5rem;
  }

  #main-footer .grid_container{
    grid-gap: 0;
    margin-left: -2rem;
  }

  .moblie_flex_container{
    grid-gap: 2rem;
    white-space: nowrap;
  }

  #main-footer .grid_container p{
    margin-top: 4.5rem;
    width: 353px;
    font-size: 16px;
    margin-left: -5rem;
  }

  #main-footer .grid_container li{
    padding-bottom: 2rem;
    font-size: 16px;
    margin-right: -5px;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: -8rem;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 10rem;
    width: 1300px;
    margin-left: -10rem;
    margin-bottom: 1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements{
    flex-direction: row; 
    gap: 30rem; 
    padding-top: 1rem;
    margin-bottom: 0; 
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: -7rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .bottom-footer-elements .social-media{
    justify-content: center;
    gap: 1rem;
    margin-right: -17rem;
    margin-left: -1.6rem;
  }
}

/* iPad Pro */
@media screen and (min-width: 1024px) and (max-width: 1024px){
  #main-nav{
    margin-right: -25rem;
  }

  #main-nav .nav_logo{
    width: 140px;
    margin-left: -2rem;
  }

  #main-nav .nav_links li span{
    font-size: 8px;
  }

  #main-nav .nav_links{
    white-space: nowrap;
    font-size: 16px;
    gap: 0.5rem;
    margin-left: -9rem;
  }

  #main-nav .launch_business{
    width: 140px;
    margin-left: -16rem;
  }

  .content_container{
    margin-left: 7rem;
    white-space: nowrap;
  }

  .content_container h1{
    font-size: 40px;
  }

  .content_container h1 .heading_1{
    font-size: 40px;
  }

  .content_container h3{
    font-size: 16px;
  }

  .content_container .business_community{
    max-width: 200px;
    margin-left: -0.7rem;
  }

  .youtube_container{
    margin-left: 18rem;
    max-width: 500px;
  }

  .youtube_container .youtube{
    margin-left: 3.5rem;
  }

  .business_tools.flex-container{
    margin-right: -5rem;
  }

  .business_tools.flex-container .business_puzzle{
    gap: 13rem;
    margin-left: -10rem;
  }

  .business_tools.flex-container .business_puzzle h2{
    font-size: 1.5rem;
    margin-left: 8rem;
  }

  .business_tools.flex-container .business_puzzle img{
    max-width: 300px;
  }

  .section_container h1{
    margin-left: 4rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .container .section_container .launch_grow_manage{
    margin-left: 3rem;
    gap: 2rem;
  }

  .container .section_container .your_business{
    margin-left: 2rem;
    margin-top: -1rem;
    max-width: 700px;
    border-radius: 10px;
  }

  /* Track Sales */
  .track_sales{
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  .leftside{
    margin-left: -13rem;
    margin-top: 4rem;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .track_sales .leftside .puzzle_values{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 12rem;
    font-size: 16px;
  }

  .track_sales img{
    max-width: 400px;
    margin-top: 4rem;
    margin-right: -3rem;
  }

  /* Business Education */
  .Business_Education{
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  .Business_Education img{
    max-width: 400px;
    margin-top: 4rem;
    margin-left: -15rem;
  }

  .Business_Education .leftside{
    margin-right: -16rem;
    margin-top: 3rem;
  }

  .Business_Education .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .Business_Education .leftside p{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Education .leftside .Start_Learning{
    margin-left: 12rem;
    font-size: 16px;
  }

  /* Register Business Section */
  .Business_Registration{
    gap: 7rem;
    margin-top: 1rem;
    align-items: center;
  }

  .Business_Registration .leftside{
    margin-left: -25rem;
    margin-top: 4rem;
  }

  .Business_Registration .leftside .Registrations{
    white-space: nowrap;
    margin-left: 5rem;
    font-size: 16px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
  }

  .Business_Registration .leftside h1{
    white-space: nowrap;
    margin-left: 5rem;
    font-size: 20px;
  }

  .Business_Registration .leftside .Start_Learning{
    margin-left: 5rem;
    font-size: 16px;
  }

  .Business_Registration img{
    max-width: 400px;
    margin-top: 4rem;
    margin-right: -20rem;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    margin-top: 80px;
    max-width: 600px;
    margin-left: -1rem;
  }

  .service_partners{
    margin-top: 5rem;
  }

  .service_partners h1{
    margin-right: -1rem;
    font-size: 20px;
  }

  .service_partners .companies{
    gap: 6rem;
    max-width: 110px;
    margin-left: 28rem;
  }

  /* Get Started */
  .Start_Business{
    margin-left: 9rem;
  }

  .Get_Started{
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
  }

  .Get_Started h1{
    font-size: 20px;
  }

  .Get_Started img{
    max-width: 200px;
  }

  /* Footer */
  #main-footer{
    margin-right: -3rem;
  }

  #main-footer .grid_container{
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    margin-left: -8rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-left: 2rem;
  }

  .moblie_flex_container{
    grid-gap: 3rem;
    white-space: nowrap;
  }

  #main-footer .grid_container p{
    margin-top: 4.5rem;
    width: 353px;
    font-size: 16px;
    margin-left: -5rem;
  }

  #main-footer .grid_container li{
    padding-bottom: 2rem;
    font-size: 16px;
    margin-right: -5px;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: -1rem;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 10rem;
    width: 1300px;
    margin-left: -10rem;
    margin-bottom: 1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements{
    flex-direction: row; 
    gap: 45rem; 
    padding-top: 1rem;
    margin-bottom: 0; 
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: -6rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .bottom-footer-elements .social-media{
    justify-content: center;
    gap: 1rem;
    margin-right: -5rem;
    margin-left: -4rem;
  }
}

@media screen and (min-width: 912px) and (max-width: 912px){
  #main-nav{
    margin-right: -5rem;
  }

  #main-nav .nav_logo{
    width: 120px;
  }

  #main-nav .nav_links {
    white-space: nowrap;
    font-size: 0.9rem;
    gap: 1px;
    margin-left: -4rem;
  }

  #main-nav .nav_links li span{
    font-size: 8px;
  }

  #main-nav .launch_business{
    width: 120px;
    margin-left: -2.8rem;
  }

  .content_container{
    margin-right: 2rem;
    white-space: nowrap;
  }

  .content_container h1{
    font-size: 40px;
  }

  .content_container h1 .heading_1{
    font-size: 40px;
  }

  .content_container h3{
    font-size: 16px;
  }

  .content_container .business_community{
    max-width: 200px;
    margin-left: -0.7rem;
  }

  .youtube_container{
    margin-left: 11.5rem;
    max-width: 500px;
  }

  .youtube_container .youtube{
    margin-left: -5.5rem;
    margin-top: -2rem;
  }

  .business_tools.flex-container{
    margin-right: -3rem;
  }

  .business_tools.flex-container .business_puzzle{
    gap: 5rem;
    margin-left: -10rem;
  }

  .business_tools.flex-container .business_puzzle h2{
    font-size: 1.5rem;
    margin-left: 8rem;
  }

  .business_tools.flex-container .business_puzzle img{
    max-width: 300px;
  }

  .section_container h1{
    margin-left: -0.5rem;
    white-space: nowrap;
    font-size: 18px;
  }

  .container .section_container .launch_grow_manage{
    margin-left: -2rem;
    gap: 2rem;
  }

  .container .section_container .your_business{
    margin-left: -2.5rem;
    margin-top: -1rem;
    max-width: 700px;
    border-radius: 10px;
  }

   /* Track Sales */
   .track_sales{
    gap: 3rem;
    margin-top: 2rem;
    align-items: center;
  }

  .leftside{
    margin-left: -14rem;
    margin-top: 4rem;
  }

  .track_sales .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .track_sales .leftside .puzzle_values{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .track_sales .leftside .puzzle_values .checkIcon{
    font-size: 1rem;
  }

  .track_sales .leftside .waitlist{
    margin-left: 12rem;
    font-size: 16px;
  }

  .track_sales img{
    max-width: 350px;
    margin-top: 4rem;
    margin-right: -0.5rem;
  }

  /* Business Education */
  .Business_Education{
    gap: 4rem;
    margin-top: 2rem;
    align-items: center;
  }

  .Business_Education img{
    max-width: 350px;
    margin-top: 4rem;
    margin-left: -24rem;
  }

  .Business_Education .leftside{
    margin-right: -22rem;
    margin-top: 3rem;
  }

  .Business_Education .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .Business_Education .leftside p{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Education .leftside .Start_Learning{
    margin-left: 12rem;
    font-size: 16px;
  }

  /* Register Business Section */
  .Business_Registration{
    gap: 3rem;
    margin-top: 2rem;
    align-items: center;
  }

  .Business_Registration .leftside{
    margin-left: -28rem;
    margin-top: 4rem;
  }

  .Business_Registration .leftside .Registrations{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Registration .leftside .Registrations .checkIcon{
    font-size: 1rem;
  }

  .Business_Registration .leftside h1{
    white-space: nowrap;
    margin-left: 12rem;
    font-size: 20px;
  }

  .Business_Registration .leftside .Start_Learning{
    margin-left: 12rem;
    font-size: 16px;
  }

  .Business_Registration img{
    max-width: 400px;
    margin-top: 4rem;
    margin-right: -13rem;
  }

  /* Power With Puzzle */
  .Power_With_Puzzle{
    margin-top: 80px;
    max-width: 600px;
    margin-left: -2rem;
  }

  .service_partners{
    margin-top: 5rem;
  }

  .service_partners h1{
    margin-right: 0;
    font-size: 20px;
  }

  .service_partners .companies{
    gap: 5rem;
    max-width: 110px;
    margin-left: 23rem;
  }

  /* Get Started */
  .Start_Business{
    margin-left: 8rem;
  }

  .Get_Started{
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
  }

  .Get_Started h1{
    font-size: 20px;
  }

  .Get_Started img{
    max-width: 200px;
  }

  /* Footer */
  #main-footer{
    margin-right: -6rem;
  }

  #main-footer .grid_container{
    grid-gap: 8rem;
    margin-left: -2rem;
  }

  #main-footer .grid_container .whitelogo{
    margin-left: -5rem;
  }

  .moblie_flex_container{
    grid-gap: 3rem;
    white-space: nowrap;
    margin-right: -3rem;
  }

  #main-footer .grid_container p{
    margin-top: 4.5rem;
    width: 353px;
    font-size: 16px;
    margin-left: -5rem;
  }

  #main-footer .grid_container li{
    padding-bottom: 2rem;
    font-size: 16px;
    margin-right: -5px;
  }

  .subscribe-input {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  /* Horizontal Line */
  .horizontal-line {
    margin-top: 5rem;
    width: auto;
    margin-left: -7rem;
    margin-bottom: 1rem;
  }

  /* Copyright&social-media */
  .bottom-footer-elements{
    flex-direction: row; 
    gap: 35rem; 
    padding-top: 1rem;
    margin-bottom: 0; 
    position: relative;
  }

  .bottom-footer-elements .Copyright{
    align-items: center;
    justify-self: center;
    margin-left: -7rem;
    font-size: 13px;
    white-space: nowrap;
  }

  .bottom-footer-elements .social-media{
    justify-content: center;
    gap: 1rem;
  }
}